<!DOCTYPE html>
<html lang="en">
<head>
  <title>Witamy w świecie książek</title>
</head>
<body>
{% include 'webofbooks/navbar.html' %}
<h3>Edytuj kategorię</h3>
{% block content %}
  <form method="post">
    {% csrf_token %}
    <table>{{ form.as_p }}</table>
    <input type="submit" value="Zmień" class="btn btn-primary">
  </form>
{% endblock %}
<br/>
<p><a href="{% url 'webofbooks:categories_list' %}"><button type="button" class="btn btn-secondary">Wróć do listy kategorii</button></a></p>
<p><a href="{% url 'webofbooks:homepage' %}"><button type="button" class="btn btn-dark">Strona główna</button></a></p>


</body>
</html>