<!DOCTYPE html>
<html lang="en">
<head>
  <title>Witamy w świecie książek</title>
</head>
<body>
{% include 'webofbooks/navbar.html' %}
<h3>Książki z kategorii</h3>
<h3>
    {% for x in category %}
    {{ x.name }}
    {% endfor %}
</h3>

<ul>
  {% for book in categories_books %}
    <li>
        <p>{{ book.title }} <a href="{% url 'webofbooks:book_detail' book.id %}"><button type="button" class="btn btn-success">Szczegóły</button></a></p>
    </li>
{% endfor %}
<br/>
<p><a href="{% url 'webofbooks:categories_list' %}"><button type="button" class="btn btn-secondary">Wróć do listy kategorii</button></a></p>
<p><a href="{% url 'webofbooks:homepage' %}"><button type="button" class="btn btn-dark">Strona główna</button></a></p>
</body>
</html>