<!DOCTYPE html>
<html lang="en">
<head>
  <title>Dodaj ksiażkę do przeczytania</title>
</head>
<body>
{% include 'webofbooks/navbar.html' %}
<h3>
  Dodać tę książkę do listy zainteresowań?
</h3>

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {{ form.as_p }}
    <input type="submit" value="Dodaj" class="btn btn-success">
  </form>
{% endblock %}
<br/>
<p><a href="{% url 'webofbooks:books_list' %}"><button type="button" class="btn btn-secondary">Wróć do listy</button></a></p>
<p><a href="{% url 'webofbooks:homepage' %}"><button type="button" class="btn btn-dark">Strona główna</button></a></p>

</body>
</html>