<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
{% include 'webofbooks/navbar.html' %}
<div class="container">
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
    {% endfor %}
    {% endif %}
</div>
<h3>Zaloguj się</h3>
<form action="" method="post">
    {% csrf_token %}

  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Nazwa użytkownika</label>
    <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Hasło</label>
    <input type="password" class="form-control" name="password">
  </div>
  <input type="submit" value="Zaloguj się" class="btn btn-primary">
</form>
</body>
</html>